{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center">
		<div class="card col-sm-6">
			<div class="card-body">
				<h3>Login here:</h3>
				<form method="post" novalidate>
					{% csrf_token %}
					{{ form|crispy }}
					<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox">Remember me
					</label>
					</div></br>
					<button class="btn btn-primary" type="submit">Log In</button>
					<a href="{% url 'password_reset' %}" class="btn btn-link">Forgot Your Password ?</a>
				</form>
			</div>
		</div>

</div>

{% endblock %}